body 
{
    
    text-align: center;
   background: linear-gradient(to right,#6405e0, #047dee); 

min-height: 60.1rem
}

.box
{
    
    background-repeat: no-repeat;
    min-height: 900.1rem
    margin: 1.4rem;
    color: rgb(255, 255, 255);
    padding: 6rem 1rem;
}
h1{
    font-size: 9.1rem;
    font-family: Arial,'Arial Black' ;
}