body 
{
    
    text-align: center;
   background: radial-gradient(circle at top left,#e24242 , #cc05cc, rgb(0, 128, 248) ); 

min-height: 60.1rem
}

.box
{
    
    background-repeat: no-repeat;
    min-height: 900.1rem
    margin: 1.4rem;
    color: rgb(255, 255, 255);
    padding: 6rem 1rem;
}
h1{
    font-size: 9.1rem;
    font-family: Arial,'Arial Black' ;
     background: linear-gradient(to right, #641aee, #312fcf, #04b6ec);
      -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}